<div class="layout-container">
  <app-topbar (toggleSidenav)="toggleSidenav()"></app-topbar>

  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav
      #sidenav
      [mode]="sidenavMode"
      [opened]="sidenavOpened"
      (closed)="sidenavOpened = false"
      class="sidenav">
      <app-sidenav (toggleSidenav)="closeSidenavOnMobile()"></app-sidenav>
    </mat-sidenav>

    <mat-sidenav-content class="main-content">
      <div class="content-wrapper">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
